*~
elpa/*
auto-save-list/*
custom.el
local.el
*.org
projectile-bookmarks.eld
transient/
eshell/
history
org/
bookmarks
eln-cache/
*lsp*
projects

# for emacs get requests
url/

# for clojure-lsp file cache (e.g files you visit from external libs)
workspace/

# for backup files
*.tar.gz